*~
/config.env
/template-override.env
/docker-compose.override.yml
/gfarm2.conf
/gfarm2rc
/gfarm_shared_key
/secrets/nextcloud_admin_password
/secrets/db_password
/secrets/grid_proxy_password
/secrets/myproxy_password
